h1 {
  color: black;
  font-size: 100;
}

h2 {
  color: black;
  font-size: 90;
}

h3 {
  color: black;
  font-size: 75;
}

p {
  color: white;
  font-size: 50;
}

h4 {
  color: white;
  font-size: 75;
}
